@tailwind base;
@tailwind components;
@tailwind utilities;


/* Light mode (default) */
:root {
  --text: #040316;
  --background: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dddbff;
  --accent: #443dff;
}

/* If using the class-based approach for dark mode */
.dark {
  --text: #eae9fc;
  --background: #010104;
  --primary: #3a31d8;
  --secondary: #020024;
  --accent: #0600c2;
}
